<section class="about__page">

    <h1 class="title">Rick and Morty API</h1>
    <div class="about__container">
        <div class="about__paragraph">
            <p>
                Angular 11 + Rick and Morty API.
            </p>
            <figure class="about__img">
                <img src="../../../../assets/imgs/web_dev.svg" alt="about__picture" class="about__picture" rel="preload" as="image" width="406" height="306">
            </figure>
        </div>
    </div>
<p class="about__copy">
    Developed by <span class="text-white">Guillermo Mainini</span>
</p>

</section>